@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{ 
        ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("username");
    }
    @if (ViewBag.Data!=null)
    {
 <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-controller="Home" asp-action="Privacy" title="Manage">Hello @ViewBag.Data!</a>
        </li>
        <li class="nav-item">
            
                        <form asp-action="SearchBooks">
                            <input type="text" name="keyword" id="keyword">
                            <input type="submit" value="Search" class="btn btn-primary">
                        </form>

            @*<form id="logoutForm" class="form-inline" asp-controller="Login"  asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Login", new { area = "" })">*@
            <form>
                <button id="logout" type="submit" class="nav-link btn btn-link text-light" asp-controller="Login" asp-action="Logout">Logout</button>
            </form>
            @*</form>*@
        </li>
    }
else
{
  <li class="nav-item">
            <a class="btn btn-outline-light" id="register" asp-controller="Login" asp-action="register">Register</a>
            @*@Html.ActionLink("Register","Create","Users")*@
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light" id="login" asp-controller="Login" asp-action="login">Login</a>
        </li>
}
